font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;

html, body {
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../images/bg.png);
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}

/* Header Start */
header {
	background-color: #FFD338;
}
.custom_nav li a, i {
	color: #fff!important;
}
.fa-search {
	transform: rotateY(180deg);
}
.custom_nav li a {
	padding: 3px 25px!important;
	border-radius: 25px;
	transition: .5s ease;
}
.custom_nav li a:hover {
	background-color: red;
}
.custom_nav .active a {
	background-color: red;
}
/* Header End */
/* Banner Start */
.banner {
	background-image: url(../images/banner_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #BBBBBB;
}
.banner_texts {
	margin-top: 250px;
	margin-bottom: 250px;
}
.banner_texts h1 {
	color: #707070;
	font-size: 80px;
}
.banner_texts h3 {
	color: #1EC0FF;
	font-size: 48px;
	font-weight: 700;
}
.banner h6 {
	color: #BBBBBB;
	font-size: 18px;
}
.banner i {
	font-size: 20px;
}
/* Banner End */
/* About Section Start */
.about {
	margin-bottom: 100px;
}
.common_texts {
	margin-top: 120px;
}
.common_texts h1 {
	font-size: 30px;
	font-weight: 700;
}
.common_texts hr {
	width: 220px;
	border: 3px dashed white;
	margin: 30px auto;
}
.about_texts {
	margin-top: 100px;
}
.about_texts h1 {
	font-size: 24px;
}
.about_texts hr {
	width: 170px;
	border-color: orange;
}
.about_texts p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
.about_texts img {
	width: 40%;
}
.about_image {
	margin-top: 100px;
}
.about_image img {
	border-radius: 20px;
}
/* About Section End */
/* Service Section Start */
.service {
	background-image: url(../images/blue_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.service_content {
	margin-top: 50px;
	margin-bottom: 100px;
}
.service_content img {
	border-radius: 50%;
	margin-bottom: 10px;
}
.service_content p {
	margin: 0;
	font-size: 24px;
	color: #fff;
}
/* Service Section End */
/* Offering Start */
.custom_card {
	border-radius: 20px;
	margin-bottom: 50px;
}
.card-header {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	border-top-right-radius: 20px!important;
	border-top-left-radius: 20px!important;
}
.card-header i {
	font-size: 16px;
}
.thumb_wrap {
	position: relative;
}
.thumb {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	line-height: 1;
	position: absolute;
	right: 10px;
	bottom: -25px;
}
.thumb p {
	margin-top: 8px;
}
.custom_title {
	font-weight: 500;
	font-size: 24px;
}
.custom_ctext {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.custom_cfooter {
	font-size: 16px;
	font-weight: 400;
}
.plus_icon {
	height: 50px;
	border-radius: 20px;
	margin-bottom: 100px;
}
.plus_icon i {
	font-size: 25px;
	margin-top: 13px;
}
/* Offering End */
/* Gallery Start */
.gallery {
	background-image: url(../images/green_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.top_margin {
	margin-top: 100px;
}
.gallery_content img {
	border-radius: 20px;
}
.custom_btn {
	width: 20%;
	margin-bottom: 100px;
}
/* Gallery End */
/* Profiles Section Start */
.profile {
	margin-top: 100px;
	margin-bottom: 100px;
}
.twitter_content p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 2.5;
	font-size: 14px;
	color: #1EC0FF;
}
.twitter_content h6 {
	width: 50%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 2.5;
}
.profile_contents img {
	border-radius: 20px;
}
.profile_contents h1 {
	font-size: 24px;
	font-weight: 700;
}
.profile_contents h6 {

}
.profile_contents p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.profile_contents ul li a {
	font-size: 20px;
}
.profile_contents h3 {
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
}
/* Profiles Section End */